body {
	margin: 0;
	background-color: #000;
	background-image: url("BG.jpg");
	color: #E0A425;
	font-family: Monospace;
	font-size: 12px;
	line-height: 22px;
}

.info {
	position: relative;
	font-family: 'HiraMinPro-W6';
}

.info img {
	height: 80vh;
}

.info in {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.5vmin;
	line-height: 2.5vh;
}

.info inf1 {
	font-size: 2.5vmin;
}

.info inf2 {
	font-size: 2vmin;
}

canvas {
	position: absolute;
	top:    0;
	bottom: 0;
	left:   0;
	right:  0;
	margin: auto;
}

